/* @ When is the right time to use floats within wider sections vs. strategically placed centering containers?*/ /*OR BOTH*/
html {

text-rendering: optimizeLegibility !important;

-webkit-font-smoothing: antialiased !important;

}

body{
    background-color: lightgray;
    font-family:Roboto, sans-serif;
    font-weight:400;
    font-size:16px;
    letter-spacing:0.03em;
}

nav{
    position:fixed;
    z-index:9999;
    width:100%;
    /*need width 100% for these properties to work*/
}

nav, .nav-container{
    /*height:70px;*/
    
    /*width:100%;*/
    background-color:white;
    border:1px solid Chocolate;
    /*Interesting that you don't need a height property here to show the shit*/
}

.nav-container{
    margin:0 auto/*Make content always centered*/;
    width:970px;
    height:4.375rem;
    /*padding:0px 15px;*/
    /*When f*cking with the btm/top padding the icon size changes! Fuck!*/
    box-sizing:border-box;
    padding: 0 0.938rem;
    min-width: 37.5rem;
    /*min-width copied from actual*/
    /*There is also a vertical-align:baseline which may have an effect*/
    vertical-align:baseline;
}
.mini-header-logo{
   /* margin-left:400px;*/
    margin:10px 10px;
    max-wdith:60%;
    max-height:60%;
}

/*.horizontal-nav-list{
   float:right;
    margin-right:20%
}*/
.horizontal-nav-list{
    margin:auto;
    float:right;
    /*margin-left:40%;*/
    margin-top:25px;*/
    position:;
    font-size:1.04rem;
    /*Don't know why about -3% for margin-top*/
    /*Margin within div container relativizes it!*/
    /*Having position:relative assigned to the container + the list don't seem to do shit*/
}

a{
    color:838994;
    text-decoration:none;
}
a:hover{
    color: black;
}
.active{
    color:black;
    font-weight:500;
}

.horizontal-nav-list li{
    display:inline-block;
    /*padding:2%;*/
    position:;
    margin-left:25px;
}






/**
 * Responsive Design
 */
@media (min-width: 48rem) {
    .nav-container {
        width: 46rem;
    }
}
@media (min-width: 62rem) {
    .nav-container {
        width: 60rem;
    }
}
@media (min-width: 75rem) {
    .nav-container {
        width: 60%;
    }
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes bounce {
    0%, 100% {margin-top: 0px;}
    50% {margin-top: 2rem;}
}
/* Standard syntax */ 
@keyframes bounce {
    0%, 100% {margin-top: 0px;}
    50% {margin-top: 2rem;}
}


    
