body{
    background-color: lightgray;
    font-family:Open Sans, Helvetica Neue, sans-serif;
    font-weight:300;
}
div, header{
    border:1px solid Chocolate;
}
header{
    height:75px;
    width:100%;
    background-color:white;
}
.mini-header-logo{
    margin-left:400px;
    max-wdith:100%;
    max-height:100%;
}
.horizontal-nav-list{
    float:right;
    margin-right:20%
}
.horizontal-nav-list li{
    display:inline-block;
    posotion:relative;
}
    
