body{
    background-color: lightgray;
}
div, header{
    border:1px solid Chocolate;
}
p{
    font-family:Open Sans, Helvetica Neue, sans-serif;
    font-weight:300;
}
header{
    height:75px;
    width:100%;
    background-color:white;
}
.mini-header-logo{
    display:inline-block;
    margin-left:400px;
}
.horizontal-nav-list-container{
    width:600px;
    height:60px;
}
.horizontal-nav-list li{
    display:inline-block;
}
    
