/*Note... .CONTENT in their version is an eternal box spanning the semantics, which serves to align the logo and the top nav list in a centered manner with a generalized centered frame of reference*/

/*HTML::: Font Smoothing Antialised !Important*/

html {

text-rendering: optimizeLegibility !important;

-webkit-font-smoothing: antialiased !important;

}

/*Body::: Basic Font Size, Weight, Family, Letter Spacing, ?Vertical Align Baseline?*/

body{
    background-color: lightgray;
    font-family:Roboto, sans-serif;
    font-weight:400;
    font-size:16px;
    letter-spacing:0.03em;
    vertical-align:baseline;
    border:1px solid white;
}

section, div, nav{ 
    border: 1px solid white;
}

/*TOP NAVBAR*/

/*NAV Semantic::: Fixed, Z Index, 100% Width, BGcolor */

nav{
    position:fixed;
    z-index:9999;
    width:100%;
    background-color:#D46731;
    border:1px solid white;
    /*need width 100% for these properties to work*/
}

/*NAV Container (.content)::: WidthPX, HeightREMbody, BGcolor, BoxSizingBorder, PaddingX3in1, MinWidth*/

.nav-container{
    margin:0 auto/*Make content always centered*/;
    width:970px;
    height:4.375rem;
    background-color:#D46731;
    border:1px solid white;
    /*padding:0px 15px;*/
    /*When f*cking with the btm/top padding the icon size changes! Fuck!*/
    box-sizing:border-box;
    padding: 0 0.938rem;
    min-width: 37.5rem;
    /*min-width copied from actual*/
    /*There is also a vertical-align:baseline which may have an effect*/
    vertical-align:baseline;
}

/*Logo On Left of ALIGNED Container... ""CONTENT"" MarginX2, RESIZED PNG*/

.mini-header-logo{
   /* margin-left:400px;*/
    margin:10px 10px;
    max-wdith:60%;
    max-height:60%;
}


/*Horizontal List: Auto?X4 Margin, Right Float, Margin-top Added, font size, NO position*/
/*.horizontal-nav-list{
   float:right;
    margin-right:20%
}*/

.horizontal-nav-list{
    margin:auto;
    float:right;
    /*margin-left:40%;*/
    margin-top:25px;*/
    position:;
    font-size:1.04rem;
}

/*List ITEMS displayed INLINE-BLOCK, something to do with horizont probably*/

.horizontal-nav-list li{
    display:inline-block;
    /*padding:2%;*/
    position:;
    margin-left:25px;
}
a{
    /*color:838994;*/
    color:#E0FFEF;
    text-decoration:none;
}
a:hover{
    color: 838994;
}
.active{
    color:2E4A9E;
    font-weight:500;
}


/*Middle Section*/
/*Note The simple use of Margin: 0 Auto to position the middle-section or .content*/

.scorched-earth{
    background-image:url(/images/scorched-earth.jpg);
    background-size:cover;
    width:100%;
    height:45rem;
    position:absolute;
}
.middle-section-container{
    color:#E0FFEF;
    /*margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-top:20rem;
    height:17rem;
    width:40rem;*/
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
    /*height:173px;*/
    /*vertical-align:baseline;
    box-sizing:border-box; Can't Seem to find the div height property in the original source*/
}
/*My h2 is their h3... is that for semantic reasons?*/
.middle-heading, .middle-h2, .middle-button{
}
.middle-heading, .middle-h2, .middle-button-text{
    font-weight:300;
}
.middle-heading{
    font-size:4rem;
    margin-top:17.5rem; /*Updated Property*/
    text-align:center; /*Updated Property*/
}
.middle-h2{
    font-size:2rem;
    margin-top:-2rem;
    text-align:center; /*Updated Property*/
}
.middle-button{
    height:3rem;
    width:8rem;
    background-color:#A37564;
    border-radius:5%;
    margin-left:auto;
    margin-right:auto;
    margin-top:-0.5rem;
    /*Is the way they made the button better? Using two divs and a BUTTON semantic?*/
}
/*Having a button semantic seems to only need a text align command (on the outside div) to center itself, and the button seems to build itself around the text*/
/*Just a width specification on the button semantic, and the height seems to take the property of the outside div*/
/*Add a padding on the <button>adsfadfa</button> and there we go.*/
.middle-button:hover{
    background-color:D46731;
}
.middle-button-text{
    text-align:center;
    vertical-align:middle;
    line-height:3rem;
    margin: 0 auto;
    /*Could I have done this process on my navbar list?*/
}
    
  
/*Responsive Design*/

/*The shit seems to appear in dev tools in my version only when I zoom in*/
/*Mabye cuz it's on another stylesheet*/


@media (min-width: 48rem) {
    .nav-container {
        width: 46rem;
    }}
@media (min-width: 48rem){
    .middle-section-container{
        width:46rem;
}}
@media (min-width: 62rem) {
    .nav-container {
        width: 60rem;
    }}
@media (min-width: 62rem) {
    .middle-section-container{
        width:60rem;
    }
}
@media (min-width: 75rem) {
    .nav-container {
        width: 60%;
    }}
@media (min-width: 75rem) {
    .middle-section-container{
        width:60%;
    }
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes bounce {
    0%, 100% {margin-top: 0px;}
    50% {margin-top: 2rem;}
}
/* Standard syntax */ 
@keyframes bounce {
    0%, 100% {margin-top: 0px;}
    50% {margin-top: 2rem;}
}

/*PREVIOUSVERSION nav, .nav-container{
    height:70px;
    width:100%;
    background-color:#FBD380;
    background-color:#FDE5B3;
    background-color:#E0FFEF;
    background-color:#EAB398;
    Interesting that you don't need a height property here to show the shit
}*/
    
